$linkedin-color: #2867b2;
$github-color: #6cc644;
$pdf-color: #ff0000;

$java-color: #ff922b;
$python-color: #4b8bbe;
$js-color: #ff922b;
$html5-color: #f16529;
$css3-color: #2965f1;
$web-color: #90ee90;

*{
  font-family: 'Open Sans', sans-serif;

}

html {
  scroll-behavior: smooth;
}
// .modal-open {
//   overflow: scroll;
// }


// .temp{
//   position: fixed;
// }

body {
  // background: url(../../img/conor-luddy-VTEIX4Urmq0-unsplash.jpg) no-repeat
  //   center right/cover;
  background: url(../img/desk.jpg) no-repeat
    center right/cover;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  font-family: "Dosis", sans-serif;
  min-width: 375px;
}

h1 {
  color: white;
  /* margin-bottom: 10rem; */
}
.main-nav {
  position: fixed;
}

.fa-bars{
  color:#fff; font-size:28px;
}

#main-nav{
  background: rgba(0, 0, 0, 0.3);
}

.section-header {
  &-light {
    display: inline-block;
    color: white;
    border-bottom: solid 3px white;
  }
  &-dark {
    display: inline-block;
    color: black;
    border-bottom: solid 3px black;
  }
}

.i {
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 50%;
}

ul {
  list-style: none;
}

.link{
  a {
    background-color: white;
    height: 50px;
    width: 50px;
    text-decoration: none;
    color: none;
    transition: all 0.4s ease-in-out;

    &:hover {
      transform: scale(1.2);
    }
  }

  .fa-linkedin-in {
    color: $linkedin-color;
  }
  .fa-github {
    color: $github-color;
  }
  .fa-file-pdf {
    color: $pdf-color;
  }
}

.nav-item{
  font-size: 1.4rem;
}

#brand-custom{
  color: white;
  font-size: 1.5rem;
}

#main {
  background: rgba(0, 0, 0, 0.3);
  padding-bottom: 200px;
  h1{
    padding-bottom: 180px;
  }
}

#navbarMenu {
  a {
    margin-right: 20px;
    padding: 0px;
    padding-bottom: 1px;
    border-bottom: 3px solid transparent;
    transition: all 0.5s;
    color: white;

    &:hover {
      border-bottom: white solid 3px;
    }
  }
  font-family: 'Abril Fatface', cursive;


}

#about-me {
  font-family: "Karla", sans-serif;
  background: #d3d3d3;
  font-size: large;
}

#technologies {
  background-color: rgba(0, 0, 0, 0.5);

  .tech-icon {
    margin: 10px 25px;
    color: white;
  }

  p {
    color: white;
  }

  // .fa-java{
  //   color: $java-color;
  // }

  // .fa-js{
  //   color: $js-color;
  // }

  // .fa-html5{
  //   color: $html5-color;
  // }

  // .fa-css3-alt{
  //   color: $css3-color;
  // }

  // .fa-python{
  //   color: $python-color;
  // }
}

#projects {
  background: #d4d4d4;

  img {
    width: 200px;
    padding: 20px 0 20px 20px;
  }
}

.projectbox {
  display: block;
  border: solid black 1px;
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}

.card {
  font-size: large;
  transition: all 1s;

  p{
    font-size: medium;
  }

  &:hover {
    transform: scale(1.05) translateZ(0);
  }
}

#contact {
  background-color: rgba(0, 0, 0, 0.5);

  p{
    color: white;
  }
  a{
    text-decoration: none;
    color: #C4C4FF
  }
}

footer{
  background: #d4d4d4;
  height: 8vh;
}

.line{
  background: white;
  width: 300px;
}